* {
  padding: 3px;
  text-align: justify;
  background-color: lightslategrey;
  font-family: sans-serif;
}
h1 {
  font-size: 30px;
  color: darkred;
}
.color {
  color: black;
  text-align: center;
  font-size: 25px;
}
table,
th,
td {
  border: 1px solid black;
  padding: 20px;
  font-family: sans-serif;
}

.example {
  color: brown;
}
th:first-child {
  background-color: darkslategray;
}

.content {
  color: black;
  font-size: 20px;
}
a :hover {
  background-color: darkcyan;
}
